 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 896px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.55);
  height: 903px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 795px;
  margin: -470px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 41px 317px 0 338px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 60px;
  padding: 18px 42px 18px 41px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-image-1 {
    height: 800px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -360px;
    margin-right: 178px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 167px;
    margin-left: 178px;
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 403px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 462px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: -519px;
    margin-left: 67px;
    margin-right: 78px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 78px;
    margin-right: 67px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-image-1 {
    height: 471px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    margin-top: -254px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-image-1 {
    height: 366px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -179px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 24px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 24px;
    margin-bottom: 27px;
    padding-top: 8px;
    padding-bottom: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-1 .u-image-1 {
    height: 231px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -109px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 8px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-bottom: 13px;
    padding: 5px 12px 6px 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 855px;
}

.u-section-2 .u-text-1 {
  width: 754px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 559px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-image: url("images/Capturadetela2025-11-17203636.jpg");
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 559px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 108px;
  transform-origin: left center;
  margin: 31px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 55px 0 0;
}

.u-section-2 .u-btn-1 {
  font-style: italic;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-line-2 {
  width: 610px;
  transform-origin: left center;
  margin: 30px 20px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-1 {
    min-height: 439px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-2 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-2 .u-line-2 {
    width: 440px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 277px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-line-2 {
    width: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 130px;
  }

  .u-section-2 .u-image-1 {
    min-height: 416px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 262px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 50px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 327px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  --gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-3 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    grid-auto-columns: calc(50% - 5.0000025px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
  }
}